---
title: Linear
layout: default
---

<!-- Featured -->
<div id="featured">
	{% include index/featured.html %}
</div>


<!-- Main -->
<div id="main">
	<div id="content" class="container">

		<section id="social">
			{% include index/social.html %}
		</section>

		<section id="Download">
			<header>
				<h2>Download</h2>
			</header>

			{% include index/releases.html %}
		</section>

		<section id="Videos">
			<header>
				<h2>Video Tutorials</h2>
			</header>

			{% include index/videos.html %}
		</section>

		<section id="Support">
			<header><h3>Support the Project</h3></header>
			{% include index/support.html %}
		</section>

		<section class="slant-co">
			<header><h3>Not convinced Ulauncher is the best launcher for you?</h3></header>
			<p>
				See comments and review alternatives at <a href="https://www.slant.co/topics/3945/~linux-app-launchers">slant.co</a>
				<br />
				If you like Ulauncher, please vote for it <i class="fas fa-thumbs-up"></i>
			</p>
		</section>

	</div>
</div>
