<!-- Google Analytics -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-69551512-1', 'auto');
ga('send', 'pageview');

$(function(){
    $('#release-deb').click(function(){
        sendReleaseDownloadEvent('Debian');
    });
    $('#release-fedora').click(function(){
        sendReleaseDownloadEvent('Fedora');
    });
    $('#release-suse').click(function(){
        sendReleaseDownloadEvent('OpenSUSE');
    });
    $('.event-aur').click(function(){
        sendReleaseDownloadEvent('Arch Linux');
    });

    function sendReleaseDownloadEvent(label) {
        if (localStorage.getItem('downloaded-previously')) {
            return
        }
        ga('send', 'event', 'Distro', 'Download', label);
        localStorage.setItem('downloaded-previously', '1')
    }
});
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->
