<div id="nav-wrapper">
	<!-- Nav -->
	<nav id="nav">
		<ul>
			<li><a href="/#Download">Download</a></li>
			<li><a href="https://docs.ulauncher.io">Docs</a></li>
			<li><a href="https://ext.ulauncher.io">Extensions</a></li>
			<li><a href="https://gist.github.com/gornostal/02a232e6e560da7946c053555ced6cce">Color Themes</a></li>
			<li><a href="https://github.com/Ulauncher/Ulauncher/issues">Issue Tracker</a></li>

			<li><a href="https://github.com/Ulauncher/Ulauncher/" class="fab fa-github"></a></li>
			<li><a href="https://twitter.com/UlauncherApp" class="fab fa-twitter"></a></li>
		</ul>
	</nav>
</div>
