<div class="row contrib">
    <section class="4u">
        <span class="pennant"><span class="fa fa-linux"></span></span>
        <p>​
            <a href="https://github.com/Ulauncher/Ulauncher/issues/74">
                Needed help with building AppImage package
            </a>
        </p>
    </section>
    <section class="4u">
        <span class="pennant"><span class="fa fa-code"></span></span>
        <p> <a href="https://github.com/Ulauncher/Ulauncher/wiki/Code-Contribution">Fix bugs and implementing features</a>.
        Python/JS skills are required.</p>
    </section>
    <section class="4u">
        <span class="pennant"><span class="fa fa-bug"></span></span>
        <p> Try and test Ulauncher on your machine. If you encounter any bugs, please <a href="https://github.com/Ulauncher/Ulauncher/wiki/How%20to%20Report%20A%20New%20Bug">report them</a>.</p>
    </section>
</div>