<div class="container">
    <header>
        <h2>Watch a 1 Minute Demo</h2>
    </header>

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LDkxqgtHPGk?ecver=2" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="row">
        <section class="3u">
            <span class="pennant"><span class="fa fa-bolt"></span></span>
            <h3>Instant app launcher</h3>
            <p> Ulauncher provides instant search results.
                It also remembers your previous choices and automatically selects the best option for you.</p>
        </section>
        <section class="3u">
            <span class="pennant"><span class="fa fa-search"></span></span>
            <h3>Fuzzy search</h3>
            <p>​ Type in an application name without worrying about spelling. Ulauncher will figure out what you meant.</p>
        </section>
        <section class="3u">
            <span class="pennant"><span class="fa fa-keyboard-o"></span></span>
            <h3>Shortcuts</h3>
            <p>​ Improve your workflow with customizable shortcuts. Create shortcut for web search or your scripts.</p>
        </section>
        <section class="3u">
            <span class="pennant"><span class="fa fa-folder"></span></span>
            <h3>Fast directory browser</h3>
            <p>​
                Browse files and directories with ease. <br>
                Type ~ or / to start. Press <i>Alt+Enter</i> to access an alt menu.
            </p>
        </section>
    </div>

</div>