<section class="feedback-form" style="display: none">

    <hr>

    <header>
        <h2>Please Give Your Feedback</h2>
    </header>

    <form class="jotform-form" action="https://submit.jotformeu.com/submit/71211844776358/" method="post" name="form_71211844776358" id="71211844776358" accept-charset="utf-8">
        <input type="hidden" name="formID" value="71211844776358" />
        <div class="form-all">
                <div class="row" data-type="control_textarea" id="id_4">
                    <div class="4u feedback-form__label">
                        <label id="label_4" for="input_4"> Why choose Ulauncher over the alternatives? </label>
                    </div>
                    <div id="cid_4" class="8u form-input-wide jf-required">
                        <textarea id="input_4" class="form-textarea" name="q4_clickTo" cols="40" rows="2" data-component="textarea"></textarea>
                    </div>
                </div>
                <div class="row" data-type="control_textarea" id="id_5">
                    <div class="4u feedback-form__label">
                        <label id="label_5" for="input_5"> What should be improved in the app? </label>
                    </div>
                    <div id="cid_5" class="8u form-input-wide jf-required">
                        <textarea id="input_5" name="q5_whatShould" cols="40" rows="2" data-component="textarea"></textarea>
                    </div>
                </div>
                <div class="row " data-type="control_button" id="id_2">
                    <div id="cid_2" class="4u -4u">
                        <button id="input_2" type="submit" data-component="button"> Submit </button>
                    </div>
                </div>
                <div style="display:none"> Should be Empty: <input type="text" name="website" value="" /> </div>
        </div>
        <input type="hidden" id="simple_spc" name="simple_spc" value="71211844776358" />
        <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "71211844776358-71211844776358"; </script>
    </form>

</section>