<section class="text" id="release-links">
    Ulauncher <i id="release-version"></i> is available for:

    <ul>
        <li>
            <b>Debian-based distros (Ubuntu, elementary OS, etc.)</b>: <span id="release-deb"><i>loading link...</i></span>
            <br>
            <code>sudo dpkg -i packagename.deb</code> or just double click <br>
            Note: if <code>dpkg -i</code> exits with error about dependency problems,
            run <code>sudo apt-get install -f</code>
        </li>
        <li>
            <b>Arch Linux</b>: Latest release is available on <a href="https://aur.archlinux.org/packages/ulauncher/">AUR</a>
            <br>
            <code>git clone https://aur.archlinux.org/ulauncher.git && cd ulauncher && makepkg -is</code>
        </li>
        <li>
            <b>Fedora</b>: <span id="release-fedora"><i>loading link...</i></span>
            <br>
            <code>sudo dnf install packagename.rpm</code>
        </li>
        <li>
            <b>OpenSUSE</b>: <span id="release-suse"><i>loading link...</i></span>
            <br>
            <code>sudo zypper in packagename.rpm</code> or double click
        </li>
    </ul>
</section>