<section class="text" id="release-links">
    Ulauncher <i id="release-version">v2 Beta</i> is available for:

    <ul>
        <li>
            <b>Ubuntu / Debian users</b>: <span id="deb-link"><i id="release-deb">loading link...</i></span>
            <br>
            <code>sudo dpkg -i packagename.deb</code> or just double click
        </li>
        <li>
            <b>Fedora users</b>: <span id="deb-link"><i id="release-fedora">loading link...</i></span>
            <br>
            <code>sudo dnf install packagename.rpm</code>
        </li>
        <li>
            <b>Hackers who can figure out dependencies for their Linux distro</b>:
            <span id="deb-link"><i id="release-targz">loading link...</i></span>
            <br>
            Extract files and take a look at <code>./install.sh</code> to see what dependencies need to be installed.
        </li>
    </ul>
</section>