<ul class="timeline">

    <li>
        <div class="timeline__direction--l">
            <div class="timeline__flag-wrapper">
                <span class="timeline__flag timeline__flag--checked">Website for Extensions</span>
                <span class="timeline__time-wrapper">
                    <span class="timeline__time">Completed</span>
                </span>
            </div>
            <div class="timeline__desc">
                <p>
                    Please visit <a href="https://ext.ulauncher.io">https://ext.ulauncher.io</a>
                    to browse available Ulauncher extensions and publish yours.
                </p>
            </div>
        </div>
    </li>

    <li>
        <div class="timeline__direction--r">
            <div class="timeline__flag-wrapper">
                <span class="timeline__flag timeline__flag--checked">More Result Views for Extensions</span>
                <span class="timeline__time-wrapper">
                    <span class="timeline__time">In Progress...</span>
                </span>
            </div>
            <div class="timeline__desc">
                <p>We want to build more result views available via Extension API
                so the developers are not limited to only list results.</p>
            </div>
        </div>
    </li>

    <li>
        <div class="timeline__direction--l">
            <div class="timeline__flag-wrapper">
                <span class="timeline__flag">Improve Search</span>
                <span class="timeline__time-wrapper">
            </div>
            <div class="timeline__desc">
                <p>Make search even more snappier and relevant.</p>
            </div>
        </div>
    </li>

    <li>
        <div class="timeline__direction--r">
            <div class="timeline__flag-wrapper">
                <span class="timeline__flag">New Themes</span>
                <span class="timeline__time-wrapper">
            </div>
            <div class="timeline__desc">
                <p>Refresh UI and add new themes.</p>
                <p>Eventually let user to customize and build their own themes.</p>
            </div>
        </div>
    </li>

</ul>
