<ul class="timeline">

    <li>
        <div class="timeline__direction--r">
            <div class="timeline__flag-wrapper">
                <span class="timeline__flag timeline__flag--checked">
                    Extenson API. Dev Release
                </span>
                <span class="timeline__time-wrapper">
                <span class="timeline__time">Completed</span></span>
            </div>
            <div class="timeline__desc">
                <p>Extension API v1 is now available in dev release.<br>
                You can now create custom extensions with Python that improve your personal workflow.</p>
                <p>Start building your etensions! <br>
                Read more at <a href="http://docs.ulauncher.io/en/latest/extensions/intro.html">docs.ulauncher.io</a></p>
            </div>
        </div>
    </li>

    <li>
        <div class="timeline__direction--l">
            <div class="timeline__flag-wrapper">
                <span class="timeline__flag">Configurable Extension Preferences</span>
                <span class="timeline__time-wrapper">
            </div>
            <div class="timeline__desc">
                <p>If you know <b>Angular</b> please contribute to Ulauncher.
                    Your help is needed to implement UI for managing preferences.
                </p>
                <p>Once this task is complete users will be able to configure extension preferences
                through Preferences window.</p>
                <p>Check out details in issue <a href="https://github.com/Ulauncher/Ulauncher/issues/121">#121</a></p>
            </div>
        </div>
    </li>

    <li>
        <div class="timeline__direction--r">
            <div class="timeline__flag-wrapper">
                <span class="timeline__flag">Add, Remove, and Update Extensions</span>
                <span class="timeline__time-wrapper">
            </div>
            <div class="timeline__desc">
                <p>
                    Next step is to add Add, Remove, and Update functionality
                    so that users won't have to manually install and update extensions.
                </p>
            </div>
        </div>
    </li>

    <li>
        <div class="timeline__direction--l">
            <div class="timeline__flag-wrapper">
                <span class="timeline__flag">Website for Extensions</span>
                <span class="timeline__time-wrapper">
            </div>
            <div class="timeline__desc">
                <p>There will be a website where users can discover new and share their own extensions.</p>
                <p>If you know <b>Python</b> or <b>Node.js</b> please contribute to website development.</p>
                <p>Contact us via an <a href="mailto:ulauncher.app@gmail.com">email</a>.</p>
            </div>
        </div>
    </li>

    <li>
        <div class="timeline__direction--r">
            <div class="timeline__flag-wrapper">
                <span class="timeline__flag">More result views</span>
                <span class="timeline__time-wrapper">
            </div>
            <div class="timeline__desc">
                <p>We want to build more result views available via Extension API
                so developers are not limited to the default result view
                (list view with icon on the left and name/description on the right).</p>
                <p>Eventually there will be multiple list views.</p>
            </div>
        </div>
    </li>

</ul>
