<div class="container">

    <header class="signup__header">
      Subscribe to Announcements and New Releases
    </header>

    {% include index/signup-form.html %}

    <ul class="social-buttons">
      <li>
        <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=Ulauncher&amp;repo=Ulauncher&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li class="follow-btn">
        <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button" src="//platform.twitter.com/widgets/follow_button.a0ec3119d8db2bc5422f2144c89ad7a9.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=UlauncherApp&amp;show_count=true&amp;show_screen_name=true&amp;size=m&amp;time=1488045809595" style="position: static; visibility: visible; width: 235px; height: 20px;" data-screen-name="ulauncherapp"></iframe>
      </li>
      <li class="tweet-btn hidden-phone">
        <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="//platform.twitter.com/widgets/tweet_button.a0ec3119d8db2bc5422f2144c89ad7a9.en.html#dnt=false&amp;id=twitter-widget-1&amp;lang=en&amp;original_referer=http%3A%2F%2Fulauncher.io%2F&amp;size=m&amp;text=Application%20launcher%20for%20Linux&amp;time=1488045809598&amp;type=share&amp;url=http%3A%2F%2Fulauncher.io&amp;via=ulauncherapp" style="position: static; visibility: visible; width: 60px; height: 20px;" data-url="https://ulauncher.io"></iframe>
      </li>
    </ul>
    <hr>
</div>
