<div class="row">
    <div class="6u">
        <a href="https://www.patreon.com/bePatron?u=8086337">
            <img src="/assets/images/become_a_patron_button.png" alt="Become a patron">
        </a>
        <p>
            You can support Ulauncher project by becoming a patron.
        </p>
    </div>
    <div class="6u">
        <div class="donate">
            <div class="icon">
                <img src="/assets/images/bitcoin.png" alt="Bitcoin logo">
            </div>
            <input class="donate" type="text" value="37dPfDbqUC2kwEcMckMFE9xwqKuKXaYLdD" readonly="">
        </div>
        <p>
            View the address at
            <a href="https://blockchain.info/address/37dPfDbqUC2kwEcMckMFE9xwqKuKXaYLdD">Blockchain.info</a>.
        </p>
    </div>
</div>