<div class="container">
  <ul>
    <li>
      <img
        src="/assets/images/star-logo.svg"
        alt=""
        style="width: 16px; height: 16px; padding-right: 3px; vertical-align: middle;"
        aria-hidden="true"
      />
      <a href="https://github.com/Ulauncher/Ulauncher" target="_blank" rel="noopener noreferrer">
        Give it a star
      </a>
    </li>
    <li>
      <img
        src="/assets/images/patreon-logo.svg"
        alt=""
        style="width: 16px; height: 16px; padding-right: 3px; vertical-align: middle;"
        aria-hidden="true"
      />
      <a href="https://www.patreon.com/c/ogornostal" target="_blank" rel="noopener noreferrer">
        Donate on Patreon
      </a>
    </li>
    <li>
      <img
        src="/assets/images/github-logo.svg"
        alt=""
        style="width: 16px; height: 16px; padding-right: 3px; vertical-align: middle;"
        aria-hidden="true"
      />
      <a href="https://github.com/Ulauncher/Ulauncher/issues?q=state%3Aopen%20label%3Acontributor-friendly">
        Contribute code
      </a>
    </li>
  </ul>
</div>
