<div class="row">
  <div class="code-contribution" class="6u">
    <a
      class="code-contrib-banner"
      href="https://github.com/Ulauncher/Ulauncher/wiki/Code-Contribution"
    >
      <span class="code-symbol">&lt;/&gt;</span>
      <span class="banner-text">Code Contribution</span>
    </a>
    <p>
      Check out
      <a href="https://github.com/Ulauncher/Ulauncher/wiki/Code-Contribution"
        >issues</a
      >
      where we might need help from developers and Linux experts
    </p>
  </div>
  <div class="6u">
    <a href="https://www.patreon.com/bePatron?u=8086337">
      <img
        src="/assets/images/become_a_patron_button.png"
        alt="Become a patron"
      />
    </a>
    <p>
      You can support Ulauncher project by becoming a patron.
    </p>
  </div>
</div>
