<div class="container">
  <ul>
    <li>
      <i class="fab fa-youtube" style="color: #CC001D; padding-right: 3px;" aria-hidden="true"></i>
      <a href="https://www.youtube.com/watch?v=dvMsYCGzWaM">Ulauncher overview video</a>
    </li>
    <li>
      <i class="fab fa-youtube" style="color: #CC001D; padding-right: 3px;" aria-hidden="true"></i>
      <a href="https://www.youtube.com/watch?v=oO9ytyS5laQ">RICE Linux with Ulauncher - Extensions and Custom Theming</a>
    </li>
    <li>
      <i class="fab fa-youtube" style="color: #CC001D; padding-right: 3px;" aria-hidden="true"></i>
      <a href="https://www.youtube.com/watch?v=EufQM7Tyito">Ulauncher More Than App Launcher</a>
    </li>
    <li>
      <i class="fab fa-youtube" style="color: #CC001D; padding-right: 3px;" aria-hidden="true"></i>
      <a href="https://www.youtube.com/watch?v=CnNCqQuF4AQ">Ulauncher: Application Launcher With Style</a>
    </li>
  </ul>
</div>
