<div class="container">
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/dvMsYCGzWaM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

  Other tutorials and reviews:
  <ul>
    <li>
      <i class="fab fa-youtube" style="color: #CC001D; padding-right: 3px;"></i><a href="https://www.youtube.com/watch?v=oO9ytyS5laQ">RICE Linux with Ulauncher - Extensions and Custom Theming</a>
    </li>
    <li>
      <i class="fab fa-youtube" style="color: #CC001D; padding-right: 3px;"></i><a href="https://www.youtube.com/watch?v=EufQM7Tyito">Ulauncher More Than App Launcher</a>
    </li>
    <li>
      <i class="fab fa-youtube" style="color: #CC001D; padding-right: 3px;"></i><a href="https://www.youtube.com/watch?v=CnNCqQuF4AQ">Ulauncher: Application Launcher With Style</a>
    </li>
  </ul>

</div>
